@media all and (max-width: 1300px) {
  .header__btn {
    width: 40%;
  }

  .footer__list {
    width: 35%;
  }
}

@media all and (max-width: 1200px) {
  .portfolio__item {
    width: 30%;
  }

  .portfolio__item > img {
    width: 100%;
  }
}

@media all and (max-width: 1150px) {
  .header__btn {
    width: 45%;
  }
}

@media all and (max-width: 1100px) {
  .header__img {
    width: 100%;
    height: 80%;
    margin-top: 100px;
  }
}

@media all and (max-width: 1050px) {
  .navbar__list {
    width: 35%;
  }

  .footer__list,
  .footer__info {
    font-size: 14px;
  }
}

@media all and (max-width: 1000px) {
  .header__title_left {
    font-size: 60px;
  }

  .header__btn {
    width: 50%;
  }

  .services__title_main {
    font-size: 50px;
  }

  .services__title {
    font-size: 25px;
  }

  .contact__title {
    font-size: 50px;
  }
}

@media all and (max-width: 950px) {
  .navbar__logo {
    width: 15%;
  }

  .navbar__list {
    width: 40%;
  }

  .portfolio__title {
    font-size: 45px;
  }
}

@media all and (max-width: 900px) {
  header {
    flex-direction: column;
  }

  .header__block_left {
    width: 80%;
  }

  .header__btn {
    width: 30%;
  }

  .header__block_right {
    width: 80%;
    align-self: center;
  }

  #vector_1 {
    top: 150px;
    left: 0px;
  }

  #vector_3 {
    left: -75px;
    bottom: -50px;
  }

  .contact__title {
    font-size: 40px;
  }

  .contact__btn {
    height: 40px;
    width: 14%;
  }

  .contact__btn > a {
    font-size: 15px;
  }
}

@media all and (max-width: 850px) {
  .services__item {
    width: 35%;
  }

  .portfolio__item {
    width: 25%;
  }

  .footer__logo {
    width: 100px;
    height: 25px;
  }

  .footer__list {
    width: 45%;
  }

  .footer__info {
    width: 25%;
    font-size: 12px;
  }

  .services__list {
    justify-content: space-around;
  }
}

@media all and (max-width: 800px) {
  .services__title_main {
    width: 70%;
  }

  .navbar__list {
    width: 50%;
  }

  .contact__title {
    font-size: 35px;
  }
}

@media all and (max-width: 750px) {
  .navbar__list,
  .navbar__input {
    display: none;
  }

  .navbar__btn_burger {
    display: block;
    width: 5%;
  }

  .navbar__logo {
    width: 20%;
  }

  .header__btn {
    width: 35%;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
  }

  .footer__item {
    margin-bottom: 10px;
  }

  .footer__logo {
    width: 120px;
    height: 30px;
  }
}


@media all and (max-width: 700px){
  .contact__title{
    font-size: 30px;
  }
  .contact__btn{
    width: 20%;
  }
}

@media all and (max-width: 650px){
  .header__title_left{
    font-size: 50px;
    margin-top: 0 ;
  }
  .header__btn{
    font-size: 15px;
    height: 50%;
  }
  .footer__logo{
    height: 35px;
  }
}

@media all and (max-width: 600px){
  .services__title_main{
    font-size: 40px;
  }
  .portfolio__title{
    font-size: 35px;
  }
  .portfolio__list{
    justify-content: center;
  }
  .portfolio__item:nth-child(2),
  .portfolio__item:nth-child(3){
    display: none;
  }
  .portfolio__item{
    width: 60%;
  }
  .portfolio__icon{
    display: none;
  }
  .portfolio__icon_second{
    display: block;
  }
}
@media all and (max-width: 500px){
  .header__btn{
    width: 40%;
  }
  .services__item{
    width: 45%;
  }
  .header__title_left{
    font-size: 40px;
    line-height: 1.2;
  }
  .header__desk_left{
    font-size: 16px;
  }
  .header__block_right{
    width: 90%;
  }
  #vector_1{
    left: -25px;
  }
  #vector_2{
    top: 125px;
  }
  #vector_3{
    left: -35px;
  }
  .contact{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .contact__title{
    width: 80%;
    margin-bottom: 10px;
  }
  .contact__btn{
    width: 25%;
  }
  .footer__info{
    width: 45%;
  }
}

@media all and (max-width: 450px){
  .header__btn{
    width: 45%;
  }
  .services__title_main{
    font-size: 35px;
    width: 90%;
  }
  .services__title{
    font-size: 24px;
  }
  .services__desc{
    font-size: 16px;
  }
  .contact__title{
    width: 90%;
  }
.footer__info{
  width: 50%;
}
}

@media all and (max-width: 400px){
  .bureger-menu__input{
    width: 30%;
  }
  .navbar__logo{
    width: 30%;
  }
  #vector_1{
    width: 60px;
    height: 20px;
  }
  #vector_2{
    width: 35px;
    height: 40px;
  }
  #vector_3{
    width: 65px;
    height: 75px;
  }
  #vector_4{
    width: 40px;
    height: 40px;
  }
  .contact__btn{
    width: 30%;
  }
  .footer__info{
    width: 60%;
  }
  .header__btn{
    width: 50%;
  }
}


@media all and (max-width: 350px){
  .header__block_left{
    width: 85%
  }
  .header__title_left{
    width: 100%;
  }
  #vector_3{
    left: -15px;
  }
  .services__item{
    width: 60%;
  }
  .portfolio__icon{
    width: 80%;
  }
  .portfolio__icon_second{
    width: 80px;
    height: 35px;
  }
}

@media all and (max-width: 320px){
  .header__block_left{
    width: 90%;
  }
  .header__btn{
    width: 55%;
  }
  .contact__btn{
    width: 35%;
  }
  #vector_4{
    right: 15px;
    bottom: 5px;
  }
  .footer__info{
    width: 65%;
  }
  .footer__list{
    width: 50%;
  }
}